@using EntityLayer.Concrete
@model List<Service>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0 d-flex justify-content-between align-items-center">
    <h3 class="mb-2">Hizmet Listesi</h3>
    <a href="/Service/AddService/" class="btn btn-info">Hizmet Ekle</a>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col" class="sort" data-sort="budget">ImageURL</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="name mb-0 text-sm">@item.ServiceID</span>
                            </div>
                        </div>
                    </th>
                    <td class="budget">
                        @item.Title
                    </td>
                    <td class="budget">
                        @item.ImageURL
                    </td>
                    <td>
                        <a href="/Service/EditService/@item.ServiceID" class="btn btn-warning">Düzenle</a>
                    </td>
                    <td>
                        <a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

